* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
}

section {
    padding: 100px 0;
}

main{
    background: url(../img/main-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar{
    transition: 0.5s;
}

.navbar li a{
    color: #fff;
}

.navbar-brand{
    color: #fff;
}

/* Hero Section */

.hero-section{
    background: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-btn{
    width: 200px;
    padding: 20px 0;
    margin: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

/* Get in Touch section */

.touch-card {
    background: #180D24;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 2px solid pink;
    color: #fff;
    font-size: 2em;
    margin-top: 20px;
}

/* About ZK Secure */


/* Ecosystem */

.eco-card {
    background: #180D24;
    padding: 1em;
    width: 100%;
    border-radius: 50px;
    border: 3px solid pink;
    margin-top: 20px;
}

.eco-img {
    width: 100px;
    height: auto;
}

/* Roadmap section */

#roadmap > .container{
    max-width: 95%;
    margin: 0 auto;
}

.roadmap-card{
    padding: 2rem;
    border: 2px solid #fff;
    border-radius: 50px;
    backdrop-filter: blur(10px);
}

.roadmap-card ul li {
    margin: 15px 0;
    font-size: 18px;
}

/* Footer Section */

footer{
    padding: 1em 0 0 0;
    background: #180D24;
}

.footer-list li{
    display: inline;
    margin: 0 10px;
}

.footer-btn{
    border-radius: 10px;
    margin: -10px 10px 0 10px !important;
    width: 120px;
}